{% extends 'base.html.twig' %}

{% block title %} Hello BlogController! {% endblock %}

{% block body %}
     <!-- Start Header -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont">
                            <h1 class="extra-title mb-10">Our Blog.</h1>
                            <p>All the most current news and events of our creative team.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Start Header -->

        <!-- Start Blog -->

        <section class="blog-pg section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-11">
                        <div class="posts">
                            <div class="item mb-80">
                                <div class="img">
                                    <a href="blog-details.html">
                                        <img src="img/blog/b1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="tags">
                                                <a href="#0">WordPress</a>
                                                <a href="#0">Themeforest</a>
                                                <a href="#0">Wavo</a>
                                            </div>
                                            <h4 class="title"><a href="blog-details.html">Build a Beautiful Blog With Ease</a></h4>
                                            <p>Success is no accident. It is hard work, perseverance, learning,
                                                studying, sacrifice and most of all, love of what you are doing.
                                            </p>
                                            <a href="blog-details.html" class="more">Read More</a>
                                        </div>
                                        <div class="col-2 valign">
                                            <div class="date">
                                                <a href="#0">
                                                    <span class="num">06</span>
                                                    <span>August</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item mb-80">
                                <div class="img">
                                    <a href="blog-details.html">
                                        <img src="img/blog/b2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="tags">
                                                <a href="#0">WordPress</a>
                                                <a href="#0">Themeforest</a>
                                                <a href="#0">Wavo</a>
                                            </div>
                                            <h4 class="title"><a href="blog-details.html">Build a Beautiful Blog With Ease</a></h4>
                                            <p>Success is no accident. It is hard work, perseverance, learning,
                                                studying, sacrifice and most of all, love of what you are doing.
                                            </p>
                                            <a href="blog-details.html" class="more">Read More</a>
                                        </div>
                                        <div class="col-2 valign">
                                            <div class="date">
                                                <a href="#0">
                                                    <span class="num">06</span>
                                                    <span>August</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item mb-80">
                                <div class="img">
                                    <a href="blog-details.html">
                                        <img src="img/blog/b3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="tags">
                                                <a href="#0">WordPress</a>
                                                <a href="#0">Themeforest</a>
                                                <a href="#0">Wavo</a>
                                            </div>
                                            <h4 class="title"><a href="blog-details.html">Build a Beautiful Blog With Ease</a></h4>
                                            <p>Success is no accident. It is hard work, perseverance, learning,
                                                studying, sacrifice and most of all, love of what you are doing.
                                            </p>
                                            <a href="blog-details.html" class="more">Read More</a>
                                        </div>
                                        <div class="col-2 valign">
                                            <div class="date">
                                                <a href="#0">
                                                    <span class="num">06</span>
                                                    <span>August</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <a href="blog-details.html">
                                        <img src="img/blog/b4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="tags">
                                                <a href="#0">WordPress</a>
                                                <a href="#0">Themeforest</a>
                                                <a href="#0">Wavo</a>
                                            </div>
                                            <h4 class="title"><a href="blog-details.html">Build a Beautiful Blog With Ease</a></h4>
                                            <p>Success is no accident. It is hard work, perseverance, learning,
                                                studying, sacrifice and most of all, love of what you are doing.
                                            </p>
                                            <a href="blog-details.html" class="more">Read More</a>
                                        </div>
                                        <div class="col-2 valign">
                                            <div class="date">
                                                <a href="#0">
                                                    <span class="num">06</span>
                                                    <span>August</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <span class="active"><a href="#0">1</a></span>
                                <span><a href="#0">2</a></span>
                                <span><a href="#0"><i class="fas fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Blog -->
{% endblock %}
